.elementor-2878 .elementor-element.elementor-element-3378827a>.elementor-container {
	max-width: 770px;
}

.elementor-2878 .elementor-element.elementor-element-3378827a {
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 39px 30px 20px 30px;
}

.elementor-2878 .elementor-element.elementor-element-4795b1dc>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-30b83a1 .elementor-icon-list-icon {
	width: 14px;
}

.elementor-2878 .elementor-element.elementor-element-30b83a1 .elementor-icon-list-icon i {
	font-size: 14px;
}

.elementor-2878 .elementor-element.elementor-element-30b83a1 .elementor-icon-list-icon svg {
	--e-icon-list-icon-size: 14px;
}

.elementor-2878 .elementor-element.elementor-element-30b83a1 .elementor-icon-list-text,
.elementor-2878 .elementor-element.elementor-element-30b83a1 .elementor-icon-list-text a {
	color: var(--e-global-color-32f2e26);
}

.elementor-2878 .elementor-element.elementor-element-30b83a1 .elementor-icon-list-item {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	text-transform: var(--e-global-typography-text-text-transform);
	font-style: var(--e-global-typography-text-font-style);
	text-decoration: var(--e-global-typography-text-text-decoration);
	line-height: var(--e-global-typography-text-line-height);
	letter-spacing: var(--e-global-typography-text-letter-spacing);
}

.elementor-2878 .elementor-element.elementor-element-30b83a1>.elementor-widget-container {
	margin: 16px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-778b7c9b {
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 15px 30px 80px 30px;
}

.elementor-2878 .elementor-element.elementor-element-58469d6b>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-f80688f>.elementor-container {
	max-width: 770px;
}

.elementor-2878 .elementor-element.elementor-element-f80688f {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-d59112a>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-cadac3f {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	text-transform: var(--e-global-typography-text-text-transform);
	font-style: var(--e-global-typography-text-font-style);
	text-decoration: var(--e-global-typography-text-text-decoration);
	line-height: var(--e-global-typography-text-line-height);
	letter-spacing: var(--e-global-typography-text-letter-spacing);
}

.elementor-2878 .elementor-element.elementor-element-cadac3f>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-39609db>.elementor-container {
	max-width: 770px;
}

.elementor-2878 .elementor-element.elementor-element-39609db {
	margin-top: 50px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-0cb4850 .elementor-element-populated a {
	color: var(--e-global-color-faadce6);
}

.elementor-2878 .elementor-element.elementor-element-0cb4850 .elementor-element-populated a:hover {
	color: var(--e-global-color-6134d38);
}

.elementor-2878 .elementor-element.elementor-element-0cb4850>.elementor-element-populated {
	margin: 0px 15px 0px 0px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-c22e1df .elementor-heading-title {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-e9e764a-font-family), Sans-serif;
	font-size: var(--e-global-typography-e9e764a-font-size);
	font-weight: var(--e-global-typography-e9e764a-font-weight);
	text-transform: var(--e-global-typography-e9e764a-text-transform);
	font-style: var(--e-global-typography-e9e764a-font-style);
	text-decoration: var(--e-global-typography-e9e764a-text-decoration);
	line-height: var(--e-global-typography-e9e764a-line-height);
	letter-spacing: var(--e-global-typography-e9e764a-letter-spacing);
	word-spacing: var(--e-global-typography-e9e764a-word-spacing);
}

.elementor-2878 .elementor-element.elementor-element-c22e1df>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-b0d0068 .elementor-button {
	font-family: var(--e-global-typography-e9e764a-font-family), Sans-serif;
	font-size: var(--e-global-typography-e9e764a-font-size);
	font-weight: var(--e-global-typography-e9e764a-font-weight);
	text-transform: var(--e-global-typography-e9e764a-text-transform);
	font-style: var(--e-global-typography-e9e764a-font-style);
	text-decoration: var(--e-global-typography-e9e764a-text-decoration);
	line-height: var(--e-global-typography-e9e764a-line-height);
	letter-spacing: var(--e-global-typography-e9e764a-letter-spacing);
	word-spacing: var(--e-global-typography-e9e764a-word-spacing);
	fill: var(--e-global-color-faadce6);
	color: var(--e-global-color-faadce6);
	background-color: #F8BC3E00;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-b0d0068 .elementor-button:hover,
.elementor-2878 .elementor-element.elementor-element-b0d0068 .elementor-button:focus {
	color: var(--e-global-color-6134d38);
}

.elementor-2878 .elementor-element.elementor-element-b0d0068 .elementor-button:hover svg,
.elementor-2878 .elementor-element.elementor-element-b0d0068 .elementor-button:focus svg {
	fill: var(--e-global-color-6134d38);
}

.elementor-2878 .elementor-element.elementor-element-b0d0068>.elementor-widget-container {
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-34da8a0>.elementor-element-populated {
	margin: 0px 0px 0px 15px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 15px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-ece53b9 {
	text-align: right;
}

.elementor-2878 .elementor-element.elementor-element-ece53b9 .elementor-heading-title {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-e9e764a-font-family), Sans-serif;
	font-size: var(--e-global-typography-e9e764a-font-size);
	font-weight: var(--e-global-typography-e9e764a-font-weight);
	text-transform: var(--e-global-typography-e9e764a-text-transform);
	font-style: var(--e-global-typography-e9e764a-font-style);
	text-decoration: var(--e-global-typography-e9e764a-text-decoration);
	line-height: var(--e-global-typography-e9e764a-line-height);
	letter-spacing: var(--e-global-typography-e9e764a-letter-spacing);
	word-spacing: var(--e-global-typography-e9e764a-word-spacing);
}

.elementor-2878 .elementor-element.elementor-element-ece53b9>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-97dd4c7 {
	--alignment: right;
	--grid-side-margin: 0px;
	--grid-column-gap: 0px;
	--grid-row-gap: 10px;
	--grid-bottom-margin: 10px;
	--e-share-buttons-primary-color: var(--e-global-color-89bc7fb);
	--e-share-buttons-secondary-color: var(--e-global-color-faadce6);
}

.elementor-2878 .elementor-element.elementor-element-97dd4c7>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-2862e61>.elementor-container {
	max-width: 770px;
}

.elementor-2878 .elementor-element.elementor-element-2862e61 {
	margin-top: 87px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-4ccff2d>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__avatar img {
	width: 166px;
	height: 166px;
}

body.rtl .elementor-2878 .elementor-element.elementor-element-875b684.elementor-author-box--layout-image-left .elementor-author-box__avatar,
body:not(.rtl) .elementor-2878 .elementor-element.elementor-element-875b684:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar {
	margin-right: 37px;
	margin-left: 0;
}

body:not(.rtl) .elementor-2878 .elementor-element.elementor-element-875b684.elementor-author-box--layout-image-right .elementor-author-box__avatar,
body.rtl .elementor-2878 .elementor-element.elementor-element-875b684:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar {
	margin-left: 37px;
	margin-right: 0;
}

.elementor-2878 .elementor-element.elementor-element-875b684.elementor-author-box--layout-image-above .elementor-author-box__avatar {
	margin-bottom: 37px;
}

.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__name {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-1dd2700-font-family), Sans-serif;
	font-size: var(--e-global-typography-1dd2700-font-size);
	font-weight: var(--e-global-typography-1dd2700-font-weight);
	text-transform: var(--e-global-typography-1dd2700-text-transform);
	font-style: var(--e-global-typography-1dd2700-font-style);
	text-decoration: var(--e-global-typography-1dd2700-text-decoration);
	line-height: var(--e-global-typography-1dd2700-line-height);
	letter-spacing: var(--e-global-typography-1dd2700-letter-spacing);
	word-spacing: var(--e-global-typography-1dd2700-word-spacing);
	margin-bottom: 5px;
}

.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__bio {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	text-transform: var(--e-global-typography-text-text-transform);
	font-style: var(--e-global-typography-text-font-style);
	text-decoration: var(--e-global-typography-text-text-decoration);
	line-height: var(--e-global-typography-text-line-height);
	letter-spacing: var(--e-global-typography-text-letter-spacing);
	margin-bottom: 17px;
}

.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__button {
	color: var(--e-global-color-6134d38);
	border-color: var(--e-global-color-6134d38);
	background-color: var(--e-global-color-89bc7fb);
	font-family: var(--e-global-typography-76d1ae6-font-family), Sans-serif;
	font-size: var(--e-global-typography-76d1ae6-font-size);
	font-weight: var(--e-global-typography-76d1ae6-font-weight);
	text-transform: var(--e-global-typography-76d1ae6-text-transform);
	font-style: var(--e-global-typography-76d1ae6-font-style);
	text-decoration: var(--e-global-typography-76d1ae6-text-decoration);
	line-height: var(--e-global-typography-76d1ae6-line-height);
	letter-spacing: var(--e-global-typography-76d1ae6-letter-spacing);
	word-spacing: var(--e-global-typography-76d1ae6-word-spacing);
	border-width: 0px;
	border-radius: 35px;
}

.elementor-2878 .elementor-element.elementor-element-875b684>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 50px 50px 31px 50px;
	box-shadow: 0px 0px 80px 5px rgba(34, 39.00000000000001, 49.00000000000001, 0.058823529411764705);
}

.elementor-2878 .elementor-element.elementor-element-bd40bb7>.elementor-container {
	max-width: 770px;
}

.elementor-2878 .elementor-element.elementor-element-bd40bb7 {
	margin-top: 80px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-d7d9949>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2878 .elementor-element.elementor-element-44f5e7b>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

@media(min-width:768px) {
	.elementor-2878 .elementor-element.elementor-element-58469d6b {
		width: 100%;
	}
}

@media(max-width:1024px) {
	.elementor-2878 .elementor-element.elementor-element-3378827a {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 41px 30px 45px 30px;
	}

	.elementor-2878 .elementor-element.elementor-element-30b83a1 .elementor-icon-list-item {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-30b83a1>.elementor-widget-container {
		margin: 13px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-778b7c9b {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 30px 70px 30px;
	}

	.elementor-2878 .elementor-element.elementor-element-cadac3f {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-39609db {
		margin-top: 41px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-c22e1df .elementor-heading-title {
		font-size: var(--e-global-typography-e9e764a-font-size);
		line-height: var(--e-global-typography-e9e764a-line-height);
		letter-spacing: var(--e-global-typography-e9e764a-letter-spacing);
		word-spacing: var(--e-global-typography-e9e764a-word-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-b0d0068 .elementor-button {
		font-size: var(--e-global-typography-e9e764a-font-size);
		line-height: var(--e-global-typography-e9e764a-line-height);
		letter-spacing: var(--e-global-typography-e9e764a-letter-spacing);
		word-spacing: var(--e-global-typography-e9e764a-word-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-b0d0068>.elementor-widget-container {
		margin: 3px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-ece53b9 .elementor-heading-title {
		font-size: var(--e-global-typography-e9e764a-font-size);
		line-height: var(--e-global-typography-e9e764a-line-height);
		letter-spacing: var(--e-global-typography-e9e764a-letter-spacing);
		word-spacing: var(--e-global-typography-e9e764a-word-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-97dd4c7 {
		--grid-side-margin: 0px;
		--grid-column-gap: 0px;
		--grid-row-gap: 10px;
		--grid-bottom-margin: 10px;
	}

	.elementor-2878 .elementor-element.elementor-element-97dd4c7>.elementor-widget-container {
		margin: 2px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-2862e61 {
		margin-top: 40px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__name {
		font-size: var(--e-global-typography-1dd2700-font-size);
		line-height: var(--e-global-typography-1dd2700-line-height);
		letter-spacing: var(--e-global-typography-1dd2700-letter-spacing);
		word-spacing: var(--e-global-typography-1dd2700-word-spacing);
		margin-bottom: 4px;
	}

	.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__bio {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
		margin-bottom: 16px;
	}

	.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__button {
		font-size: var(--e-global-typography-76d1ae6-font-size);
		line-height: var(--e-global-typography-76d1ae6-line-height);
		letter-spacing: var(--e-global-typography-76d1ae6-letter-spacing);
		word-spacing: var(--e-global-typography-76d1ae6-word-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-875b684>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 40px 40px 27px 40px;
	}

	.elementor-2878 .elementor-element.elementor-element-bd40bb7 {
		margin-top: 40px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}
}

@media(max-width:767px) {
	.elementor-2878 .elementor-element.elementor-element-3378827a {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 39px 20px 39px 20px;
	}

	.elementor-2878 .elementor-element.elementor-element-30b83a1 .elementor-icon-list-item {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-778b7c9b {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 20px 60px 20px;
	}

	.elementor-2878 .elementor-element.elementor-element-cadac3f {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-39609db {
		margin-top: 33px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-0cb4850>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-c22e1df .elementor-heading-title {
		font-size: var(--e-global-typography-e9e764a-font-size);
		line-height: var(--e-global-typography-e9e764a-line-height);
		letter-spacing: var(--e-global-typography-e9e764a-letter-spacing);
		word-spacing: var(--e-global-typography-e9e764a-word-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-b0d0068 .elementor-button {
		font-size: var(--e-global-typography-e9e764a-font-size);
		line-height: var(--e-global-typography-e9e764a-line-height);
		letter-spacing: var(--e-global-typography-e9e764a-letter-spacing);
		word-spacing: var(--e-global-typography-e9e764a-word-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-b0d0068>.elementor-widget-container {
		margin: 2px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-34da8a0>.elementor-element-populated {
		margin: 12px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-ece53b9 .elementor-heading-title {
		font-size: var(--e-global-typography-e9e764a-font-size);
		line-height: var(--e-global-typography-e9e764a-line-height);
		letter-spacing: var(--e-global-typography-e9e764a-letter-spacing);
		word-spacing: var(--e-global-typography-e9e764a-word-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-ece53b9>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-97dd4c7 {
		--grid-side-margin: 0px;
		--grid-column-gap: 0px;
		--grid-row-gap: 10px;
		--grid-bottom-margin: 10px;
	}

	.elementor-2878 .elementor-element.elementor-element-97dd4c7>.elementor-widget-container {
		margin: 2px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-2862e61 {
		margin-top: 30px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__avatar img {
		width: 70px;
		height: 70px;
	}

	.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__name {
		font-size: var(--e-global-typography-1dd2700-font-size);
		line-height: var(--e-global-typography-1dd2700-line-height);
		letter-spacing: var(--e-global-typography-1dd2700-letter-spacing);
		word-spacing: var(--e-global-typography-1dd2700-word-spacing);
		margin-bottom: 2px;
	}

	.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__bio {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
		margin-bottom: 12px;
	}

	.elementor-2878 .elementor-element.elementor-element-875b684 .elementor-author-box__button {
		font-size: var(--e-global-typography-76d1ae6-font-size);
		line-height: var(--e-global-typography-76d1ae6-line-height);
		letter-spacing: var(--e-global-typography-76d1ae6-letter-spacing);
		word-spacing: var(--e-global-typography-76d1ae6-word-spacing);
	}

	.elementor-2878 .elementor-element.elementor-element-875b684>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 19px 20px 10px 20px;
	}

	.elementor-2878 .elementor-element.elementor-element-bd40bb7 {
		margin-top: 30px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}
}