.elementor-975 .elementor-element.elementor-element-6e607b0:not(.elementor-motion-effects-element-type-background),
.elementor-975 .elementor-element.elementor-element-6e607b0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-975 .elementor-element.elementor-element-6e607b0 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 103px 30px 110px 30px;
}

.elementor-975 .elementor-element.elementor-element-6e607b0>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-975 .elementor-element.elementor-element-814cbe2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-975 .elementor-element.elementor-element-814cbe2>.elementor-element-populated {
	margin: 11px 22px 0px 0px;
	--e-column-margin-right: 22px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-7a410d2 {
	text-align: left;
	width: auto;
	max-width: auto;
}

.elementor-975 .elementor-element.elementor-element-7a410d2 img {
	width: 100%;
	max-width: 43px;
	border-radius: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-7a410d2>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-27e5cad {
	color: var(--e-global-color-16fdc7d);
	font-family: var(--e-global-typography-4bb5246-font-family), Sans-serif;
	font-size: var(--e-global-typography-4bb5246-font-size);
	font-weight: var(--e-global-typography-4bb5246-font-weight);
	text-transform: var(--e-global-typography-4bb5246-text-transform);
	font-style: var(--e-global-typography-4bb5246-font-style);
	text-decoration: var(--e-global-typography-4bb5246-text-decoration);
	line-height: var(--e-global-typography-4bb5246-line-height);
	letter-spacing: var(--e-global-typography-4bb5246-letter-spacing);
	word-spacing: var(--e-global-typography-4bb5246-word-spacing);
	width: auto;
	max-width: auto;
}

.elementor-975 .elementor-element.elementor-element-27e5cad>.elementor-widget-container {
	margin: 0px 0px 0px 16.4px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-83ced8f {
	color: var(--e-global-color-f7744ae);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	text-transform: var(--e-global-typography-text-text-transform);
	font-style: var(--e-global-typography-text-font-style);
	text-decoration: var(--e-global-typography-text-text-decoration);
	line-height: var(--e-global-typography-text-line-height);
	letter-spacing: var(--e-global-typography-text-letter-spacing);
}

.elementor-975 .elementor-element.elementor-element-83ced8f>.elementor-widget-container {
	margin: 26px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-21a018e {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 17px;
	--grid-column-gap: 35px;
	--grid-row-gap: 0px;
}

.elementor-975 .elementor-element.elementor-element-21a018e .elementor-widget-container {
	text-align: left;
}

.elementor-975 .elementor-element.elementor-element-21a018e .elementor-social-icon {
	background-color: #02010100;
	--icon-padding: 0em;
}

.elementor-975 .elementor-element.elementor-element-21a018e .elementor-social-icon i {
	color: var(--e-global-color-16fdc7d);
}

.elementor-975 .elementor-element.elementor-element-21a018e .elementor-social-icon svg {
	fill: var(--e-global-color-16fdc7d);
}

.elementor-975 .elementor-element.elementor-element-21a018e .elementor-social-icon:hover i {
	color: var(--e-global-color-faadce6);
}

.elementor-975 .elementor-element.elementor-element-21a018e .elementor-social-icon:hover svg {
	fill: var(--e-global-color-faadce6);
}

.elementor-975 .elementor-element.elementor-element-21a018e>.elementor-widget-container {
	margin: 32px 0px 0px -4px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-8fdc94e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-975 .elementor-element.elementor-element-8fdc94e>.elementor-element-populated {
	margin: 0px 15px 0px 8px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 8px;
	padding: 20px 38px 0px 7px;
}

.elementor-975 .elementor-element.elementor-element-7daf7ee .elementor-heading-title {
	color: var(--e-global-color-16fdc7d);
}

.elementor-975 .elementor-element.elementor-element-7daf7ee>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-251a3fa {
	color: var(--e-global-color-f7744ae);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	text-transform: var(--e-global-typography-text-text-transform);
	font-style: var(--e-global-typography-text-font-style);
	text-decoration: var(--e-global-typography-text-text-decoration);
	line-height: var(--e-global-typography-text-line-height);
	letter-spacing: var(--e-global-typography-text-letter-spacing);
}

.elementor-975 .elementor-element.elementor-element-251a3fa>.elementor-widget-container {
	margin: 25px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-cfc0752 .elementor-button {
	font-family: var(--e-global-typography-99eb625-font-family), Sans-serif;
	font-size: var(--e-global-typography-99eb625-font-size);
	font-weight: var(--e-global-typography-99eb625-font-weight);
	text-transform: var(--e-global-typography-99eb625-text-transform);
	font-style: var(--e-global-typography-99eb625-font-style);
	text-decoration: var(--e-global-typography-99eb625-text-decoration);
	line-height: var(--e-global-typography-99eb625-line-height);
	letter-spacing: var(--e-global-typography-99eb625-letter-spacing);
	word-spacing: var(--e-global-typography-99eb625-word-spacing);
	fill: var(--e-global-color-16fdc7d);
	color: var(--e-global-color-16fdc7d);
	background-color: #02010100;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-cfc0752 .elementor-button:hover,
.elementor-975 .elementor-element.elementor-element-cfc0752 .elementor-button:focus {
	color: var(--e-global-color-faadce6);
}

.elementor-975 .elementor-element.elementor-element-cfc0752 .elementor-button:hover svg,
.elementor-975 .elementor-element.elementor-element-cfc0752 .elementor-button:focus svg {
	fill: var(--e-global-color-faadce6);
}

.elementor-975 .elementor-element.elementor-element-cfc0752>.elementor-widget-container {
	margin: 3px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-d603b27>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-975 .elementor-element.elementor-element-d603b27>.elementor-element-populated {
	margin: 0px 8px 0px 15px;
	--e-column-margin-right: 8px;
	--e-column-margin-left: 15px;
	padding: 20px 0px 0px 28px;
}

.elementor-975 .elementor-element.elementor-element-53ad489 .elementor-heading-title {
	color: var(--e-global-color-16fdc7d);
}

.elementor-975 .elementor-element.elementor-element-53ad489>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-702dbf8-font-family), Sans-serif;
	font-size: var(--e-global-typography-702dbf8-font-size);
	font-weight: var(--e-global-typography-702dbf8-font-weight);
	text-transform: var(--e-global-typography-702dbf8-text-transform);
	font-style: var(--e-global-typography-702dbf8-font-style);
	text-decoration: var(--e-global-typography-702dbf8-text-decoration);
	line-height: var(--e-global-typography-702dbf8-line-height);
	letter-spacing: var(--e-global-typography-702dbf8-letter-spacing);
	word-spacing: var(--e-global-typography-702dbf8-word-spacing);
}

.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-16fdc7d);
	fill: var(--e-global-color-16fdc7d);
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--main .elementor-item:hover,
.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--main .elementor-item:focus {
	color: var(--e-global-color-faadce6);
	fill: var(--e-global-color-faadce6);
}

.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--main .elementor-item.elementor-item-active {
	color: var(--e-global-color-faadce6);
}

.elementor-975 .elementor-element.elementor-element-98e6943 {
	--e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
}

.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
	margin-bottom: 0px;
}

.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown a,
.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-menu-toggle {
	color: var(--e-global-color-faadce6);
}

.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown a:hover,
.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown a.highlighted,
.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-menu-toggle:hover {
	color: var(--e-global-color-16fdc7d);
}

.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown a.elementor-item-active {
	color: var(--e-global-color-89bc7fb);
}

.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown .elementor-item,
.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: var(--e-global-typography-702dbf8-font-family), Sans-serif;
	font-size: var(--e-global-typography-702dbf8-font-size);
	font-weight: var(--e-global-typography-702dbf8-font-weight);
	text-transform: var(--e-global-typography-702dbf8-text-transform);
	font-style: var(--e-global-typography-702dbf8-font-style);
	text-decoration: var(--e-global-typography-702dbf8-text-decoration);
	letter-spacing: var(--e-global-typography-702dbf8-letter-spacing);
	word-spacing: var(--e-global-typography-702dbf8-word-spacing);
}

.elementor-975 .elementor-element.elementor-element-98e6943>.elementor-widget-container {
	margin: 19px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-2aef0fc>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-975 .elementor-element.elementor-element-2aef0fc>.elementor-element-populated {
	margin: 0px 0px 0px 22px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 22px;
	padding: 22px 0px 0px 25px;
}

.elementor-975 .elementor-element.elementor-element-b9758a1 .elementor-heading-title {
	color: var(--e-global-color-16fdc7d);
}

.elementor-975 .elementor-element.elementor-element-b9758a1>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-f79b87f {
	color: var(--e-global-color-f7744ae);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	text-transform: var(--e-global-typography-text-text-transform);
	font-style: var(--e-global-typography-text-font-style);
	text-decoration: var(--e-global-typography-text-text-decoration);
	line-height: var(--e-global-typography-text-line-height);
	letter-spacing: var(--e-global-typography-text-letter-spacing);
}

.elementor-975 .elementor-element.elementor-element-f79b87f>.elementor-widget-container {
	margin: 24px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-button .elementor-align-icon-right {
	margin-left: 0px;
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-button .elementor-align-icon-left {
	margin-right: 0px;
}

body.rtl .elementor-975 .elementor-element.elementor-element-2af918c .elementor-labels-inline .elementor-field-group>label {
	padding-left: 0px;
}

body:not(.rtl) .elementor-975 .elementor-element.elementor-element-2af918c .elementor-labels-inline .elementor-field-group>label {
	padding-right: 0px;
}

body .elementor-975 .elementor-element.elementor-element-2af918c .elementor-labels-above .elementor-field-group>label {
	padding-bottom: 0px;
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-field-type-html {
	padding-bottom: 0px;
	color: var(--e-global-color-32f2e26);
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-field-group .elementor-field {
	color: var(--e-global-color-32f2e26);
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
	background-color: #ffffff;
	border-radius: 50px 0px 0px 50px;
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-field-group .elementor-select-wrapper select {
	background-color: #ffffff;
	border-radius: 50px 0px 0px 50px;
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-button {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	text-transform: var(--e-global-typography-text-text-transform);
	font-style: var(--e-global-typography-text-font-style);
	text-decoration: var(--e-global-typography-text-text-decoration);
	line-height: var(--e-global-typography-text-line-height);
	letter-spacing: var(--e-global-typography-text-letter-spacing);
	border-radius: 0px 50px 50px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-975 .elementor-element.elementor-element-2af918c .e-form__buttons__wrapper__button-next {
	background-color: var(--e-global-color-faadce6);
	color: #ffffff;
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-button[type="submit"] {
	background-color: var(--e-global-color-faadce6);
	color: #ffffff;
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-button[type="submit"] svg * {
	fill: #ffffff;
}

.elementor-975 .elementor-element.elementor-element-2af918c .e-form__buttons__wrapper__button-previous {
	color: #ffffff;
}

.elementor-975 .elementor-element.elementor-element-2af918c .e-form__buttons__wrapper__button-next:hover {
	background-color: var(--e-global-color-6134d38);
	color: #ffffff;
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-button[type="submit"]:hover {
	background-color: var(--e-global-color-6134d38);
	color: #ffffff;
}

.elementor-975 .elementor-element.elementor-element-2af918c .elementor-button[type="submit"]:hover svg * {
	fill: #ffffff;
}

.elementor-975 .elementor-element.elementor-element-2af918c .e-form__buttons__wrapper__button-previous:hover {
	background-color: var(--e-global-color-67a0930);
	color: #ffffff;
}

.elementor-975 .elementor-element.elementor-element-2af918c {
	--e-form-steps-indicators-spacing: 20px;
	--e-form-steps-indicator-padding: 30px;
	--e-form-steps-indicator-inactive-secondary-color: #ffffff;
	--e-form-steps-indicator-active-secondary-color: #ffffff;
	--e-form-steps-indicator-completed-secondary-color: #ffffff;
	--e-form-steps-divider-width: 1px;
	--e-form-steps-divider-gap: 10px;
}

.elementor-975 .elementor-element.elementor-element-2af918c>.elementor-widget-container {
	margin: 21px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
	.elementor-975 .elementor-element.elementor-element-6e607b0 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 81px 30px 93px 30px;
	}

	.elementor-975 .elementor-element.elementor-element-814cbe2>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-27e5cad {
		font-size: var(--e-global-typography-4bb5246-font-size);
		line-height: var(--e-global-typography-4bb5246-line-height);
		letter-spacing: var(--e-global-typography-4bb5246-letter-spacing);
		word-spacing: var(--e-global-typography-4bb5246-word-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-27e5cad>.elementor-widget-container {
		margin: 4px 0px 0px 7px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-83ced8f {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-83ced8f>.elementor-widget-container {
		margin: 18px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-21a018e>.elementor-widget-container {
		margin: 33px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-8fdc94e>.elementor-element-populated {
		padding: 20px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-251a3fa {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-251a3fa>.elementor-widget-container {
		margin: 30px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-cfc0752 .elementor-button {
		font-size: var(--e-global-typography-99eb625-font-size);
		line-height: var(--e-global-typography-99eb625-line-height);
		letter-spacing: var(--e-global-typography-99eb625-letter-spacing);
		word-spacing: var(--e-global-typography-99eb625-word-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-cfc0752>.elementor-widget-container {
		margin: 12px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-d603b27>.elementor-element-populated {
		padding: 20px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-702dbf8-font-size);
		line-height: var(--e-global-typography-702dbf8-line-height);
		letter-spacing: var(--e-global-typography-702dbf8-letter-spacing);
		word-spacing: var(--e-global-typography-702dbf8-word-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-98e6943 {
		--e-nav-menu-horizontal-menu-item-margin: calc(-1px / 2);
	}

	.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
		margin-bottom: -1px;
	}

	.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown .elementor-item,
	.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-702dbf8-font-size);
		letter-spacing: var(--e-global-typography-702dbf8-letter-spacing);
		word-spacing: var(--e-global-typography-702dbf8-word-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-98e6943>.elementor-widget-container {
		margin: 24px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-2aef0fc>.elementor-element-populated {
		margin: 0px 0px 0px 22px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 22px;
		padding: 20px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-f79b87f {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-f79b87f>.elementor-widget-container {
		margin: 29px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-2af918c .elementor-button {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-2af918c>.elementor-widget-container {
		margin: 20px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
}

@media(max-width:767px) {
	.elementor-975 .elementor-element.elementor-element-6e607b0 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 34px 20px 34px 20px;
	}

	.elementor-975 .elementor-element.elementor-element-27e5cad {
		font-size: var(--e-global-typography-4bb5246-font-size);
		line-height: var(--e-global-typography-4bb5246-line-height);
		letter-spacing: var(--e-global-typography-4bb5246-letter-spacing);
		word-spacing: var(--e-global-typography-4bb5246-word-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-27e5cad>.elementor-widget-container {
		margin: 9px 0px 0px 5px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-83ced8f {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-83ced8f>.elementor-widget-container {
		margin: 14px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-21a018e {
		--grid-column-gap: 15px;
	}

	.elementor-975 .elementor-element.elementor-element-21a018e>.elementor-widget-container {
		margin: 11px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-8fdc94e>.elementor-element-populated {
		margin: 30px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-251a3fa {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-251a3fa>.elementor-widget-container {
		margin: 6px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-cfc0752 .elementor-button {
		font-size: var(--e-global-typography-99eb625-font-size);
		line-height: var(--e-global-typography-99eb625-line-height);
		letter-spacing: var(--e-global-typography-99eb625-letter-spacing);
		word-spacing: var(--e-global-typography-99eb625-word-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-cfc0752>.elementor-widget-container {
		margin: -5px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-d603b27 {
		width: 100%;
	}

	.elementor-975 .elementor-element.elementor-element-d603b27>.elementor-element-populated {
		margin: 13px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-53ad489>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-702dbf8-font-size);
		line-height: var(--e-global-typography-702dbf8-line-height);
		letter-spacing: var(--e-global-typography-702dbf8-letter-spacing);
		word-spacing: var(--e-global-typography-702dbf8-word-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-98e6943 {
		--e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
	}

	.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
		margin-bottom: 0px;
	}

	.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown .elementor-item,
	.elementor-975 .elementor-element.elementor-element-98e6943 .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-702dbf8-font-size);
		letter-spacing: var(--e-global-typography-702dbf8-letter-spacing);
		word-spacing: var(--e-global-typography-702dbf8-word-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-98e6943>.elementor-widget-container {
		margin: 1px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-2aef0fc {
		width: 100%;
	}

	.elementor-975 .elementor-element.elementor-element-2aef0fc>.elementor-element-populated {
		margin: 18px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-b9758a1>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-f79b87f {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-f79b87f>.elementor-widget-container {
		margin: 6px 0px 0px 0px;
	}

	.elementor-975 .elementor-element.elementor-element-2af918c .elementor-button {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
		letter-spacing: var(--e-global-typography-text-letter-spacing);
	}

	.elementor-975 .elementor-element.elementor-element-2af918c>.elementor-widget-container {
		margin: 11px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
}

@media(min-width:768px) {
	.elementor-975 .elementor-element.elementor-element-814cbe2 {
		width: 33%;
	}

	.elementor-975 .elementor-element.elementor-element-8fdc94e {
		width: 23.12%;
	}

	.elementor-975 .elementor-element.elementor-element-d603b27 {
		width: 16.741%;
	}

	.elementor-975 .elementor-element.elementor-element-2aef0fc {
		width: 27.139%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-975 .elementor-element.elementor-element-814cbe2 {
		width: 30%;
	}

	.elementor-975 .elementor-element.elementor-element-8fdc94e {
		width: 25%;
	}

	.elementor-975 .elementor-element.elementor-element-d603b27 {
		width: 15%;
	}

	.elementor-975 .elementor-element.elementor-element-2aef0fc {
		width: 30%;
	}
}